:root {
    --background: #000;
    --foreground: #fff;
    --divider: #333;
    --overlay: #888;
}


#sheet {
    position: absolute;
    color: white;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2;
    visibility: hidden;
    transition: all 0.5s linear;
}

#sheet .overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    background: var(--overlay);
    opacity: 0.5;
}

#sheet .contents {
    border-radius: 1rem 1rem 0 0;
    background: var(--background);
    position: absolute;
    bottom: 0;
    right: 0;
    overflow-y: hidden;
    --default-transitions: transform 0.5s, border-radius 0.5s;
    transition: var(--default-transitions);
    transform: translateY(0);
    max-height: 80vh;
    height: 40vh;
    width: 100%;
    box-sizing: border-box;
    padding: 1rem;
    padding-top: 3rem;
}

#sheet .contents:not(.not-selectable) {
    transition: var(--default-transitions), height 0.5s;
}

#sheet .contents.fullscreen {
    border-radius: 0;
}

#sheet .draggable-area {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 3rem;
    margin: auto;
    padding: 1rem;
    cursor: grab;
}

#sheet .draggable-thumb {
    width: inherit;
    height: 0.25rem;
    background: var(--divider);
    border-radius: 0.125rem;
}

#sheet .close-sheet {
    position: absolute;
    right: 0;
    top: 0;
    border: none;
}

#sheet .body {
    height: 100%;
    overflow-y: auto;
    gap: 1rem;
}

.itemsofbottomsheet{
    display: flex;
    flex-direction: column;
}

.itemsofbottomsheet button{
    margin: 10px;
    background-color: #000;
    color: white;
    outline: none;
    padding: 10px;
    border: 2px solid #F65429;
}


